@keyframes pulse {
        0% {
                transform: scale(0.95);
                box-shadow: 0 0 0 0 rgba(8, 8, 8, 0.7);
        }

        70% {
                transform: scale(1);
                box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
        }

        100% {
                transform: scale(0.95);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
}

body {
        background-color: #000000;
        margin: 0px auto;
        justify-content: center;
        position: relative;
        display: flex;
        height: 2000px;

}


/* ---------------------------INICIO DO CABESALHO---------------------------------------------------------- */
.top-main {
        background-color: #747272;

        display: block;



}

.top-sub {

        background-image: url(src/img/moto_08.jpg);
        height: 45px;
        background-size: 45px;
        background: no-repeat;

}

.contender-logo {
        background-color: #000000;
        width: 100%;
        margin-bottom: 24px;

}

.contender-logo img {

        width: 100%;
        height: 23vh;
        display: block;
        margin: auto;
}


.np {
        position: relative;
        display: none;
}

.pl {
        display: flex;


        width: 100%;
        justify-content: center;
        align-items: center;
        margin: auto;
        position: relative;

}

.pl h1 {

        border: 1px solid black;
        position: relative;
        margin: auto;
        color: black;
        font-size: 20px;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 15px;

}

.video-a {
        margin-bottom: 10px;
        margin-top: 10px;
        /* border-top: rgb(235, 31, 31) 4px solid; */
        border-bottom: rgb(230, 31, 31) 4px solid;
        border-radius: 4px;
}

.video-a video {
        margin-top: 35px;
        margin-bottom: 20px;
}

.p2 {
        width: 100%;
        height: 4vh;
        position: relative;

}

.p2 h3 {
        color: rgb(255, 255, 255);
        font-size: 15px;

}

.video-a video {

        position: relative;
        margin-top: 35px;
        margin-bottom: 20px;
}

/* ---------------------------FIM DO CABESALHO---------------------------------------------------------- */

/* --------------------------INICIO DO MENU---------------------------------------------------------- */


header {
        margin-top: 10px;
        margin-bottom: 10px;
        height: 40px;
        display: flex;
        width: 100%;
        background-color: #000000;
        border-bottom: 3px rgb(230, 31, 31) solid;
        border-radius: 3px;
        /* border-top: 4px rgb(230, 31, 31) solid; */


}

nav {
        margin: auto;
        display: flex;

}

a {
        border-radius: 14px;
        font-size: 19px;
        color: white;
        text-decoration: none;
}

a:hover {
        border-radius: 14px;
        padding: 5px;
        background-color: #FFF;
        color: black;
}

li:hover {
        background-color: #FFF;
        color: black;
        border-radius: 14px;
}


li {
        margin: auto;
        border-radius: 14px;
        padding: 5px;
        margin-right: 20px;
        list-style: none;

}

/* --------------------------FIM DO MENU---------------------------------------------------------- */
.contender0 {
        display: flex;
}

.contender2 {

        padding-top: 10px;
        margin: auto;
}




.contender2 img {

        border: 3px rgb(158, 158, 158) solid;
        width: 200px;

}

.cotender {
        display: flex;
        margin: auto;
        height: 20vh;
        align-self: center;


}

/* -------------------------------------FIM MODAL1-------------------------------------------------------------------------------------------------------------- */

.todal {
        position: relative;
        display: block;
        margin: 10px;

}

#ativar {
        height: 28px;
        width: 115px;
        border-radius: 9px;
        border: none;
        margin-bottom: 25px;

}



#modal1 h1 {
        color: white;
        font-size: 24px;
        font-family: sans-serif;

}

#modal1 label {

        font-size: 24px;
        display: block;
        font-family: sans-serif;
        margin-bottom: 5px;
        margin-top: 10px;
}

#modal1 input {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 0.5rem;
        font-size: 1rem;
        background: #f7f7f7;
}

#modal1 button {
        margin-top: 20px;
        display: block;
        font-family: sans-serif;
        font-size: 1rem;
        padding: 0.6rem 2rem;
        border: none;
        background: #ffb801;
        border-radius: 4px;
        color: #402d00;
}

#modal1 {
        position: relative;
        height: 40vh;
        padding: 30px;
        background: rgb(0, 0, 0);
        border-radius: 4px;
        box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
        max-width: 50%;
        margin: 10px;
        opacity: 0;
        transform: translateX(-20px);
}

#modal1.animar1 {
        animation-name: slide;
        animation-duration: 0.3s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        /* animation: slide .3s forwards; */
}

@keyframes slide {
        to {
                transform: translateX(0);
                opacity: 1;
        }
}

/* -----------------------------------------------------FIM MODAL1-------------------------------------------------------------------------------------------------------------- */



/* --------------------------------------------------------- INICIO MODAL2---------------------------------------------------------------------------- */


#ativar2 {
        height: 28px;
        width: 115px;
        border-radius: 9px;
        border: none;
        margin-bottom: 25px;

}

#modal2 h1 {
        color: white;
        font-size: 24px;
        font-family: sans-serif;

}

#modal2 label {

        font-size: 24px;
        display: block;
        font-family: sans-serif;
        margin-bottom: 5px;
        margin-top: 10px;
}

#modal2 input {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 0.5rem;
        font-size: 1rem;
        background: #f7f7f7;
}

#modal2 button {
        margin-top: 20px;
        display: block;
        font-family: sans-serif;
        font-size: 1rem;
        padding: 0.6rem 2rem;
        border: none;
        background: #ffb801;
        border-radius: 4px;
        color: #402d00;
}

#modal2 {
        position: absolute;
        height: 40vh;
        padding: 30px;
        background: rgb(247, 0, 0);
        border-radius: 4px;
        box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
        max-width: 50%;
        margin: 10px;
        opacity: 0;
        transform: translateX(-20px);
}

#modal2.animar {
        animation-name: slide;
        animation-duration: 0.3s;
        animation-timing-function: ease;
        animation-delay: 0s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-fill-mode: forwards;
        animation-play-state: running;
        /* animation: slide .3s forwards; */
}



/* -----------------------------------------------------FIM MODAL1-----------------------------------------------------------------------------------------------*/

.quems {
        padding-bottom: 24px;
}

.valores {
        padding-bottom: 24px;
}

.miss {
        padding-bottom: 24px;
}







/* -------------------------------Contatos --------------------- */

@keyframes sinal {

        0% {
                transform: translateX(20px);
        }

        40% {
                transform: translateX(0px);
        }

        60% {
                transform: translateX(10px);
        }

        80% {
                transform: translateX(5px);
        }

        100% {
                transform: translateX(0px);
        }

}

@keyframes sinal2 {

        0% {
                transform: translateX(-20px);
        }

        40% {
                transform: translateX(0);
        }

        60% {
                transform: translateX(-10px);
        }

        80% {
                transform: translateX(-5);
        }

        100% {
                transform: translateX(0);
        }


}



.conts {
        width: 100%;
        display: flex;
        overflow: auto;
        position: fixed;
        display: none;
}


.conts img {

        position: relative;
        width: 40px;
        height: 40px;
        margin: auto;
        display: block;


}



.whatsApp {
        background-color: rgb(10, 152, 10);
        justify-content: center;
        animation: sinal2 .5s linear forwards;
        width: 49%;


}

.whatsApp h3 {
        padding-top: 5px;
        margin: auto;
        width: 90px;
        background-color: rgb(10, 152, 10);
        display: block;

}



.telefone {
        background-color: green;
        justify-content: center;
        animation: sinal2 .5s linear forwards;
        width: 49%;
}

.telefone svg {
        display: block;
        position: relative;
        margin: auto;
        background-color: green;
}

.telefone h3 {
        padding-top: 5px;
        margin: auto;
        width: 140px;
        background-color: green;
        display: block;
}