@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}


body {
  margin: 0%;
  padding: 0;
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  max-width: 600px;
  height: 145vh;
}

/* ---------------------------INICIO DO CABESALHO---------------------------------------------------------- */
.top-main{
  background-color: #747272;

  display: block;

  margin-bottom: 50px;
  
}

.top-sub{

  background-image: url(src/img/moto_08.jpg);
  height: 300px ;
  background-size: 45px  ;
  background: no-repeat;

}

/* -------------------------------------------INICIO MENU--------------- */
.menu {
	display: block;
	width: 900x;
	height: 40px;
	margin-bottom: 20px;
}

a {
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
}

a:hover {
	opacity: 0.7;
} */


nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
	background: #030303;
} */



/* -------------------------------------------INICIO MENU--------------- */

.contender-logo{
  width: 100%;
  
}

.cony{
  display: none;
  
}
.telefone{
  display: none ;
}
.contender-logo img{

  width:46vh;
  height: 23vh;
}

.pl{
  display: flex;
  border-radius: 35px;
  padding: 4px;
  width: 260px;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  background-color: rgb(0, 255, 0);
}

.pl h1{
  position: relative;
  margin: auto  ;
  color: black;
  font-size: 20px;

}

.p2{
  display: flex;
    border-radius: 35px;
    padding: 4px;
    width: 370px;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
}

.p2 h3{
  color: rgb(255, 255, 255);
  font-size: 15px;
}

/* ---------------------------FIM DO CABESALHO---------------------------------------------------------- */

.contender0 {
display: flex;
}

.contender2{

  padding-top: 10px;
  margin: auto;
}




.contender2 img{

  border: 3px rgb(158, 158, 158) solid;
  width: 200px;
 
}

.cotender {
  margin: auto;
  height: 20vh;
  align-self: center;
 

}

button{
  border-radius: 10px;
  font-size: 300;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  height: 34px;
  width: 100px;
  background-color: rgb(148, 148, 148);
  border: none;

}

.quems{
  padding-bottom: 24px;
}
.valores{
  padding-bottom: 24px;
}

.miss{
  padding-bottom: 24px;
}



header {
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 50px;
	font-weight: 300;
	color: rgb(255, 255, 255);
}

.gallery-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 2vw;
	padding: 0 2vw;
}

.gallery-items {
  width: 77px;
  height: 130px;
  border: 4px solid #FFF;
  box-shadow: 5px 5px 5px #0006;
  flex-grow: 1;
  transition: transform .5s linear;

}

.gallery-items img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-items:hover {
	transform: scale(1.3);
}


/* -------------------------------Contatos --------------------- */

@keyframes sinal{

  0%{ 
    transform: translateX(20px);
  }

  40%{ 
    transform: translateX(0px);
  }
  60%{ 
    transform: translateX(10px);
  }
  80%{ 
    transform: translateX(5px);
  }
  100%{ 
    transform: translateX(0px);
  }

}

@keyframes sinal2 {

  0%{ 
    transform: translateX(-20px);
  }

  40%{ 
    transform: translateX(0);
  }
  60%{ 
    transform: translateX(-10px);
  }
  80%{ 
    transform: translateX(-5);
  }
  100%{ 
    transform: translateX(0);
  }


}



.conts{


        background-color: #747272;
        bottom: 0;
        position: fixed;
        width: 99%;
        text-align: center;
        display: flex;
        justify-content: center;
        border-top: 2px rgb(3, 3, 3) solid;
        border-left: 2px rgb(3, 3, 3) solid;
        border-right: 4px rgb(3, 3, 3) solid;

}


.conts img{
  
  width: 50px;
  height: 50px;
 
}



.whatsApp{
  animation: sinal2 .5s linear forwards ;

  display: block;
  width: 50%;
  background-color: rgb(2, 147, 2);

}

.whatsApp h3{
  color: white;
  background-color: rgb(2, 147, 2);
  font-family: 'Inter', sans-serif;
  font-family: 'Noto Sans Mono', monospace;
  font-size: 100;
}



.telefone{
  animation: sinal .5s linear forwards ;

  display: block;
  width: 50%;

  background-color: rgb(7, 162, 7);
}

.telefone svg{

  background-color: rgb(7, 162, 7);
}
.telefone h3{
  color: white;
  background-color:rgb(7, 162, 7) ;
  font-family: 'Inter', sans-serif;
  font-family: 'Noto Sans Mono', monospace;
}